@model IEnumerable<string>

<ul id="menu">
<li><div><a class="btn btn-block btn-secondary"
   asp-action="ProductList"
   asp-controller="Products"
   asp-route-category="">
    Главная
</a></div>
</li>

@foreach (string category in Model)
{
    <li><div>
    <a class="btn btn-block
       @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-secondary")"
       asp-action="ProductList"
       asp-controller="Products"
       asp-route-category="@category"
       asp-route-productpage="1">
        @category
    </a>
    </div>
    </li>
}
</ul>